<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "StatusBean" class = "backend.StatusController">
    <property name = "status" value = "Status!"/>
</bean>

    <bean id = "ViolationBean" class = "backend.ViolationsController">
        <property name = "violations" value = "violations"/>
    </bean>

    <bean id = "ActionBean" class = "backend.ActionItemsController">
    <property name = "actions" value = "actions"/>
</bean>

    <bean id = "WorkBean" class = "backend.WorkOrdersController">
        <property name = "works" value = "works"/>
    </bean>

    <bean id = "GuestBean" class = "backend.GuestController">
        <property name = "guests" value = "guests"/>
    </bean>

</beans>